name: Laravel CI

on:
  push:
  pull_request:

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2
        extensions: mbstring, sqlite, pdo_sqlite

    - name: Install dependencies
      run: composer install --prefer-dist --no-interaction

    - name: Copy testing environment
      run: cp .env.testing .env

    - name: Generate key
      run: php artisan key:generate

    - name: Run migrations
      run: php artisan migrate --env=testing

    - name: Run tests
      run: php artisan test